body{
    margin:0;
    background-image:url("consult-ai-login-assets/consult-ai-login-assets/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    
}
.card{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    align-items: center;
}
.icon{
    display:block;
    margin:0 auto;
    width:100px;
    height:auto;
    
}
.title{
    display:block;
    margin:0 auto;
    width:200px;
}
.subtitle{
    display:block;
    margin:0 auto;
    width:250px;
}
.card input{
    width: 200px;
}